include LICENSE
include MANIFEST.in
include README.md
include CHANGELOG.md
include setup.py
include elastic_transport/py.typed

prune docs/_build
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
